

*{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
  }
/* header */
.resume-main{
    width:900px;
    aspect-ratio: 1/1.41;
    border: 1px solid black ;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2.6fr ;
    grid-template-rows: 1fr 4fr;
    --header-bg-color:#D6DDE6;
    --text-color:#222222;
    --side-bg-color:#E8EAED;
}

.resume-header{
    background-color: var(--header-bg-color);
    grid-column: 1/span 2;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.resume-header h1{
    font-size: 4em;
}

.resume-header h3{
    font-size: 2em;
}

/* personal details */

.personal-details{
    background-color: var(--side-bg-color);
    margin-left: 10%;
    color: var(--text-color);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 5px;
}

.profile{
    margin-bottom: 50px;
}

.profile p{
    font-size: 1.6em;
    line-height: 35px;
    margin-top: 15px;
}

.contact-details li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
    margin-top: 15px;
}

.contact-details img{
    width: 30px;
}


/* work and education */

.work-education{
    color: var(--text-color);
    margin-left: 7%;
    margin-top: 4%;
}

.school,.company-name{
    font-size: 1.4em;
    font-weight: 500;
}

.role,.course{
    font-size: 1.4em;
    font-style: italic;
    font-weight: lighter;
}

.work-discription{
    font-size: 1.3em;
}


.date{
    font-size: 1.0em;
    font-style: italic;
}

.skills li{
    font-size: 1.3em;
    margin-top: 5px;
}

.education-details,.work-details{
    margin-top: 15px;
    line-height: 30px;
}

.education,.skills{
    margin-bottom: 15px;
}






