

*{
    margin: 0px;
    padding: 0px;
}

.resume-main{
    width:900px;
    aspect-ratio: 1/1.41;
    border: 1px solid black ;
    margin: 20px auto;
    --header-bg-color:#D6DDE6;
    --text-color:#222222;
    --side-bg-color:#E8EAED;
}

.resume-header{
    background-color: var(--header-bg-color);
    width: 100%;
    height: 20%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.resume-header h1{
    font-size: 4em;
}

.resume-header h3{
    font-size: 2em;
}

