

*{
    margin: 0px;
    padding: 0px;
}

/* header */
.resume-main{
    width:900px;
    aspect-ratio: 1/1.41;
    border: 1px solid black ;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2.6fr ;
    grid-template-rows: 1fr 4fr;
    --header-bg-color:#D6DDE6;
    --text-color:#222222;
    --side-bg-color:#E8EAED;
}

.resume-header{
    background-color: var(--header-bg-color);
    grid-column: 1/span 2;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.resume-header h1{
    font-size: 4em;
}

.resume-header h3{
    font-size: 2em;
}

/* personal details */

.personal-details{
    background-color: var(--side-bg-color);
    margin-left: 10%;
}

/* work and education */
.work-education{
}




